/* =================================
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
  color: white;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
	color: black;
}

h2,
h3,
a {
	color: white;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

footer p {
	color: lightgrey;
}

/* =================================
  Base Layout Styles
==================================== */

.container {
	padding-left: 1em;
	padding-right: 1em;
	}

.main-header {
	text-align: center;
	background: rgba(10,10,10,0.6);
	}

.main-nav {
	text-align: center;

	}

.main-nav li {
	margin: auto;
	width: 80%;
	margin-bottom: 5px;
	margin-top: 5px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.1);
	}

.main-nav li:hover {
	background-color: rgba(255, 255, 255, 0.2);
	}

.main-nav a {
	display: block;
	}

.main-footer {
	padding: 1em 0;
	background: rgba(10,10,10,0.79);
  text-align: center;
	}

/* =================================
  Media queries
==================================== */

@media (min-width: 799px) {

	body {
		background-image: url('../images/background.jpg');
		background-size: cover;
	}

	.wrap {
		min-height: calc(100vh - 167px);
	}

	.container {
		min-height: calc(100vh - 167px - 157px);
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
		border: solid 2px white;
	}

	.name {
		float: left
	}

	.main-nav {
		float: right;
		height: 150px;
	}

	.main-nav li {
		text-align: center;
		display: inline-block;
		margin-left: 12px;
		margin-right: 12px;
		padding-top: 2em;
		font-size: 1.5em;
		height: 100px;
		width: 100px;
		border-radius: 0;
		background-color: rgba(0,0,0,0);
		border-top: 5px solid transparent;
	}

	.main-nav li:hover {
		border-top: solid 3px white;
		background-color: rgba(0, 0, 0, 0);
	}

	.main-header {
		text-align: left;
	}

	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

}
